@media screen and (max-width: 767px ) and (orientation:portrait) {
    .logotip {
        zoom: 0.9;
    }

    .bth-inline-block > button {
        display: none;
    }

    .bth-inline-block > .burger-menu {
        display: flex;
        visibility: visible;
    }

    .header-burger-menu > .burger-menu-close {
        visibility: visible;
        display: flex;
    }

    .container-image {
        width: 400px;
        min-width: 100px;
        height: 400px;
        min-height: 100px;
    }

    .container-text span:nth-child(2), span:nth-child(3), span:nth-child(4), span:nth-child(5) {
        position: relative;
        font-size: 2.4rem;
        margin-top: -15px;
    }

    .container-text span:nth-child(1) {
        font-size: 1.8rem;
    }

    .wrapper-content-fot {
        flex-direction: column;
        row-gap: 50px;
    }
}

@media screen and (max-width: 375px) {
    .bth-inline-block > .burger-menu {
        width: 35px;
        height: 35px;

        display: flex;
        visibility: visible;
    }

    .bth-inline-block > .burger-menu > div {
        width: 50%;
        height: 1px;
    }

}

@media screen and (width: 1280px) {
    .container-image {
        width: 450px;
        height: 450px;
    }

    .wrapper-content-fot {
        width: 80%;
    }

    .container-text {
        width: 600px;
    }

    .container-text span:nth-child(2), span:nth-child(3), span:nth-child(4), span:nth-child(5) {
        position: relative;
        font-size: 3rem;
        margin-top: -15px;
    }
}
